<h1>Listing costumers</h1>
<form class="form-search">
    <div class="input-append">
        <input type="text" id="search" name="search" class="span2 search-query" placeholder="Buscar...">
        <button type="submit" class="btn btn-success">Buscar</button>
    </div>
  </form> 
<table>
  <thead>
    <tr>
      <th>Rfc</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Facebook</th>
      <th>Diraccion</th>
      <th>Linkedin</th>
      <th>Correoe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costumers.each do |costumer| %>
      <tr>
        <td><%= costumer.rfc %></td>
        <td><%= costumer.nombre %></td>
        <td><%= costumer.telefono %></td>
        <td><%= costumer.facebook %></td>
        <td><%= costumer.diraccion %></td>
        <td><%= costumer.linkedin %></td>
        <td><%= costumer.correoE %></td>
        <td><%= link_to 'Show', costumer %></td>
        <td><%= link_to 'Edit', edit_costumer_path(costumer) %></td>
        <td><%= link_to 'Destroy', costumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costumer', new_costumer_path %>
