<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @costumer.rfc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @costumer.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @costumer.telefono %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @costumer.facebook %>
</p>

<p>
  <strong>Diraccion:</strong>
  <%= @costumer.diraccion %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @costumer.linkedin %>
</p>

<p>
  <strong>Correoe:</strong>
  <%= @costumer.correoE %>
</p>

<%= link_to 'Edit', edit_costumer_path(@costumer) %> |
<%= link_to 'Back', costumers_path %>
