<h1>Listado de Promociones</h1>

<table border="2px">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Medio</th>
      <th>Descripcion</th>
      <th>Empleado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.Fecha %></td>
        <td><%= promotion.Cliente %></td>
        <td><%= promotion.Medio %></td>
        <td><%= promotion.Descripcion %></td>
        <td><%= promotion.Empleado %></td>
        <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Promoción', new_promotion_path %>
