<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @promotion.costumer_id %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @promotion.employee_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @promotion.fecha %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @promotion.descripcion %>
</p>

<%= link_to 'Editar', edit_promotion_path(@promotion) %> |
<%= link_to 'Regresar', promotions_path %>
