<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="datosClienteOrden">  
  <fieldset>
  <legend>Datos del cliente</legend>    
    <%= f.hidden_field :costumer_id  %>

    <%= fields_for @sale.costumer do |c| %>
      <%= c.hidden_field :id %>
      <%#<input type="text" name="clavecliente" id="clavecliente" placeholder="RFC del cliente"/>%>
      <%= c.autocomplete_field :nombre, autocomplete_costumer_nombre_costumer_path, :placeholder => "Nombre del cliente", :multiple => false, :update_elements => {:diraccion => '#costumer_direccion', :telefono => '#costumer_telefono', :correoE => "#costumer_email"} %>
      <%= c.text_field :diraccion, :placeholder => "Domicilio" %>
      <%= c.text_field :email, :placeholder => "Email del cliente" %>
      <%= c.text_field :telefono, :placeholder => "Teléfono del cliente" %>

    <% end %>
  </fieldset>
</div>

</div>
<div id="detallesVentaContainer">
    <di id="agregarProductoContainer">
      <span>
        ISBN del libro: <input type="text" name="clavelibro" id="clavelibro" placeholder="Clave del libro"/>        
      </span>
      <span>
        Cantidad de ejemplares: <input type="number" name="cantidadlibro" id="cantidadlibro" placeholder="Cantidad" value="1">
      </span>
      <p>% de descuento por libro
        <input type="number" name="descuentolibro" id="descuentolibro" value="0" onkeypress="validaNumeros()" min="0" max="20" maxlength="2" >
      </p>      
    </div>
    <%# Crear la tabla donde agregaremos los productos %>

<table id="detallesVentaTable" cellspacing="0">
    <thead>
      <th>Clave</th>
      <th>Descripción</th>
      <th>P. Unidad</th>
      <th>Cantidad</th>
      <th>Descuento x Libro</th>
      <th>Importe</th>
    </thead>
    <tbody>      
      <% @order.orderDs.each do |item| %>
        <%= f.fields_for :orderDs, item do |d| %>
          <tr>
            <td><%= d.text_field :product_id, :class =>"idLibroVender", :readonly => "readonly" %></td>
            <td><input type="text" id="nombreProducto" value="" readonly="readonly"></td>
            <td><%= d.text_field :precioUnitario, :readonly => "readonly" %></td>
            <td><%= d.text_field :cantidad, :class =>"cantidadVender", :readonly => "readonly" %></td>
            <td><%= d.text_field :desceuento, :class =>"descuentoProducto", :readonly => "readonly" %></td>
            <td><%= d.text_field :importeTotal, :class =>"importeProducto", :readonly => "readonly" %></td>            
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <th colspan="2">Total de artículos:</th>
      <th id="totalArts">0</th>
      <th></th>
      <th>Importe total:</th>
      <th id="importeTotalVenta">0</th>
    </tfoot>
  </table>
</div>

  <div class="field">
    <%= f.label :costumer_id %><br>
    <%= f.number_field :costumer_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_venta %><br>
    <%= f.date_select :fecha_venta %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
