<h1>Listing detail_sales</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_sales.each do |detail_sale| %>
      <tr>
        <td><%= detail_sale.sale_id %></td>
        <td><%= detail_sale.cantidad %></td>
        <td><%= detail_sale.precio %></td>
        <td><%= detail_sale.descuento %></td>
        <td><%= detail_sale.total %></td>
        <td><%= link_to 'Show', detail_sale %></td>
        <td><%= link_to 'Edit', edit_detail_sale_path(detail_sale) %></td>
        <td><%= link_to 'Destroy', detail_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail sale', new_detail_sale_path %>
